* {
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: lightsalmon;
}


h1{
 font-size: 2.5rem;
 font-weight: bold;
 text-align: center;
 color:tomato;
 text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;

}

.gridContainer {
    width: 500px;
    margin: 10px auto;
    border: 5px solid tomato;
    background-color: white;
    height: 500px;
    border-radius: 20px;
    padding: 10px;
}

.griditems{
    border: 1px solid black;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(50,1fr);
    grid-template-rows: repeat(50,1fr);
}

.grid-cell{
    width: 100%;
    height: 100%;
    border: 1px solid rgba(87, 81, 81, 0.104);
}
.controller{
    width: 50%;
    gap: 5px;
    margin:3px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

button{
    width: 150px;
    padding: 15px;
    border: 2px solid white;
    color: white;
    font-size: 1.2rem;
    border-radius: 10px;
}

.grid16{
    background-color: rgb(127, 202, 255);
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.grid50{
    background-color: cadetblue;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.grid100{
    background-color:thistle;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.colorRandomizer{
    background-color: royalblue;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}