main {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: fit-content;
    padding: 20px;
}
.titleHead{
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    background-color: rgba(54, 49, 48, 0.473);
    width: 300px;
    margin: 010px auto;
    border-radius: 10px;
}
.toolbar{   
    margin: 100px 50px;
    height: fit-content;
    background-color: white;
    display: flex;
    flex-wrap:wrap;
    align-items: center;
    padding: 2em;
}

.colorPalette{
    border: 1px solid black;
    width: 3em;
    height:3em;
    margin: 2px;
}

.gridCell{
    width: 2.1rem;
    height: 2.1rem;
    border: 1px solid gray;
}

#blue{
    background-color: blue;
}

#green {
    background-color: green;
}

#yellow{
    background-color: yellow;
}

#orange{
    background-color: orange;
}

#red{
    background-color: red;
}

#cyan{
    background-color: cyan;
}

#purple {
    background-color: purple;
}

#violet{
    background-color: violet;
}

#black{
    background-color: black;
}
#white{
    background-color: white;
}
#canvasColor{
    background-color: white;

}

.canvas{
    padding: 1.2em;
    height: 600px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;

}
